
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<footer class="footer">
	<h5>Copyright &copy; Express Social by Hector101</h5>
</footer>
</body>
</html>